.soc{
    margin: 0 20px 0 0;
    color:  #33b5e5;
}

.soc:hover{
    color: #0099CC;
}

.cover-heading{
    margin-top: 10px;
}

#pic{
    height: 200px;
    border: solid #0099CC 3px;
    border-radius: 50%;
}