<div class="row">
  <div class="col-md-8 offset-md-2 content-center text-center">
      <img class="animated flipInY" id="pic" src="../../../assets/donovan.jpg">
      <h1 class="cover-heading animated slideInLeft" id="slideOutLeft"><u style="text-decoration-line: underline; text-decoration-color: yellow;">Meet Donovan</u></h1>
    <p class="animated slideInRight lead" id="slideOutRight" >Hi there, I am a Web Developer, Mobile Applications Developer occasional Mentor and Technology Instructor located in Michigan. My love for just about all things computers started back in my High School years, I had a computer drafting class that specialized in Photoshop and Illustrator.</p>
      <p class="lead animated bounceInUp"id="bounceOutUp">
        <a href="https://www.linkedin.com/in/browncdonovan" target="_blank"><i class="soc fa fa-linkedin fa-3x"></i></a>
        <a href="https://twitter.com/browncdonovan" target="_blank"><i class="soc fa fa-twitter fa-3x"></i></a>
        <a href="https://github.com/DCbrown" target="_blank"><i class="soc fa fa-github fa-3x"></i></a>
        <a href="https://www.instagram.com/brown_c_donovan/" target="_blank"><i class="soc fa fa-instagram fa-3x"></i></a>
      </p>
  </div>
</div>
<br/>
<br/>