<p>
  experiance works!
</p>
<div class="container"> 
<h1 class="text-center"><u>Experiance</u></h1>  
  <div class="offset-md-1 row">      
    <!--Panel-->
    <div *ngFor="let exp of experience" class="offset-md-4 card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">{{exp.company}}</div>
        <div class="card-body text-success">
            <h5 class="card-title">{{exp.title}}</h5>
              
        </div>
        <div class="card-footer bg-transparent border-success">{{exp.dates}}</div>
    </div>
  <!--/.Panel-->
  </div>
</div>